.main-container {
  width: 80%;

  nb-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  text-align: center;
}

.team-pick {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45%;
  margin: 3%;
}
