.main-container {
  width: 80%;

  nb-card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }


  & nb-card-footer {
    & button {
      width: 33%;
    }
  }

  text-align: center;
}

.team-pick {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45%;
  margin: 3%;


  & nb-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .team-info {
      width: 100%;
      margin-top: 25px;

      & nb-accordion-item-body {
        & ul {
          text-align: justify;

          list-style: trad-chinese-formal;
        }
      }
    }
  }

}

img {
  width: 32px;
  height: 32px;
}

span {
  padding-left: 10px;
}
