<div class="follow-us">
  <h2>Follow us</h2>
</div>
<div class="social-media">
  <ul class="menu">
    <li>
      <a href="https://github.com/pimmpo" target="_blank">
        <nb-icon icon="github" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </a>
    </li>
    <li>
      <a href="/" target="_blank">
        <nb-icon icon="facebook" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </a>
    </li>
    <li>
      <a href="/" target="_blank">
        <nb-icon icon="paper-plane" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
      </a>
    </li>
  </ul>
</div>
