@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none !important;
}

app-footer,
app-header,
app-dota2 {
  display: flex;
  flex-direction: row;

  width: 100%;
}

app-header {
  justify-content: space-between;
  align-items: center;
}

app-footer {
  justify-content: center;
  align-items: center;
}

app-dota2 {
  justify-content: center;
}

ul.menu {
  display: flex;
  flex-direction: row;

  align-content: center;

  list-style: none;

  margin-bottom: 0;

  li {
    margin: 0 3rem;

    cursor: pointer;

    a,
    a:hover {
      color: #ffffff !important;
    }
  }
}

nb-layout-column {
  width: 80%;
  justify-content: center;
}
